@charset "utf-8";
ul{list-style: none;}
/* 027_position_ex3 참조 */
/* float 속성으로 block 요소들(크기가 있는 요소)을 좌우배치 되도록 함
 부모가 float된 자식요소의 높이를 인지하지 못함
 감싸는 속성을 clear해 줘야지 자식 요소를 원하는 대로 배치 가능 p.270 */
body>ul{background: #000;}
ul ul{background:#666; position:absolute; display:none;
    /* display: none와 병행? -> 포지션에 따라서 top:100%; left:0 해도 화면에 보임 */
    top:100%; left:0;
}
/* clear은 부모요소에 적용 li를 높이로 가졌는데 높이가 없어져버리는 것 */
body>ul:after{content:''; clear:both; display: block;}
body>ul>li{float:left; position:relative;}
/* white-space: nowrap;는 줄 바꿈 공백 여부 */
body>ul>li ul li{white-space: nowrap;}
body>ul>li:hover ul{display: block;}

/* ====================== 여백 ===================== */
ul ul{padding-left: 0;}