/* ===========기본 설정========== */
*{margin:0; padding:0;}

/* ===========컬러 파레트========== */
/* https://coolors.co/palette/ffa69e-faf3dd-b8f2e6-aed9e0 */
label{display:block; height:25vh; width:30px;
    border-top-right-radius:20px; border-bottom-right-radius: 20px;
}
/* (부모 안의) 자식요소 label 중에서 n번째 */
label:nth-of-type(1){background:#FFA69E;}
label:nth-of-type(2){background:#FAF3DD}
label:nth-of-type(3){background:#B8F2E6}
label:nth-of-type(4){background:#AED9E0}

/* ===========flex로 sidebar 구성========== */
body{display: flex;} /* 자동적으로 block으로 바뀜 단, 1단계 자식만 */
input{display: none;}
label{ /* text 세로쓰기;           text 방향 돌리기; */
    writing-mode: vertical-rl; text-orientation: upright; text-transform: uppercase; 
    text-align: center; align-content: center; letter-spacing: 3px;}

/* ===========sidebar 확장 메뉴========== */
label div{display:none; transition:0.5s; position:absolute; left:30px;}

/* ===========sidebar 닫기 버튼========== */
label:nth-last-child(1){display:none; font-size:30px; color:#999; position:absolute; left:70vw; top:-50px; }
    /* 1번부터 입력한 숫자까지 */
input:nth-of-type(-n+4):checked~:nth-last-child(1){display:inline;}

/* ===========radio와 div연결========== */
/* 속성선택자 단순 = 비교는 안 됨 */
/* 어떤 radio라도 checked라면 */
input[type="radio"]:checked+label{border-top-right-radius:0; border-bottom-right-radius:0; font-weight:bold;}
input[type="radio"]:checked+label>div{display: block; background: inherit; width:70vw; height:100vh; top:0;
    writing-mode: horizontal-tb; text-align: left; padding:10px; box-sizing: border-box; font-weight: normal;}

/* ===========애니메이션========== */
form label>div{animation-name:open; animation-duration: 0.3s;}

@keyframes open {
    from {width:0;}  
}

/* ===========button(JS)========== */
/* button{display: none;}
input[name^=tap]:checked~button{
    display:block; position:absolute; left:70vw; top:10px;
    background:none; border:none; font-size:30px; color:#999;} */
    
    
/* ===========paragraph========== */
.paragraph{margin: 10px;}
    
/* 알게 된 점: 스크롤은 내가 label을 1/4씩 차지하게 두고, 버튼을 추가해서 */