/* ===========기본 설정========== */
*{margin:0; padding:0;}

/* ===========컬러 파레트========== */
/* https://coolors.co/palette/ffa69e-faf3dd-b8f2e6-aed9e0 */
label{display:block; height:25vh; width:30px;
    border-top-right-radius:20px; border-bottom-right-radius: 20px;
}
/* (부모 안의) 자식요소 label 중에서 n번째 */
label:nth-of-type(1){background:#FFA69E;}
label:nth-of-type(2){background:#FAF3DD}
label:nth-of-type(3){background:#B8F2E6}
label:nth-of-type(4){background:#AED9E0}

/* ===========flex로 sidebar 구성========== */
body{display: flex;} /* 자동적으로 block으로 바뀜 단, 1단계 자식만 */
input{display: none;}
label div{display:none; transition:0.5s; position:absolute; left:-200px;}
label{ /* text 세로쓰기;           text 방향 돌리기; */
    writing-mode: vertical-rl; text-orientation: upright; text-transform: uppercase; 
    text-align: center; align-content: center; letter-spacing: 3px;}

/* ===========radio와 div연결========== */
/* 속성선택자 단순 = 비교는 안 됨 */
/* 어떤 radio라도 checked라면 */
input[type="radio"]:checked+label>div{display: block; background: inherit; width:70vw; height:100vh; top:0;
    writing-mode: horizontal-tb; text-align: left; padding:10px; box-sizing: border-box;}

/* ===========동적 효과========== */
form div{left:30px; margin:0;}


/* ===========button========== */
button{display: none;}
input[name^=tap]:checked~button{
    display:block; position:absolute; left:70vw; top:10px;
    background:none; border:none; font-size:30px; color:#999;}

/* 탭 닫기, 동적효과, 배경색 */
/* 탭 닫는건 radio한 개 더 추가해서 X표로 만들어볼까 되려나 
    마지막 요소는 안 보이게 하는 거 안 하고 항상 같은 위치에..... 하면 안되겠네 일단 ㄱㄱ */
    
/* 알게 된 점: 스크롤은 내가 label을 1/4씩 차지하게 두고, 버튼을 추가해서 */
    
/* ===========paragraph========== */
.paragraph{margin: 10px;}