/* ==========CSS의 변수(var)========== */
:root{ /* 변수 선언 어디서든 접근 가능 */
    /* 선언시에는 --를 붙여주고 호출시에는 var() 사용 */
    --side-bar-width:270px;
    /* vh는 viewport의 세로 사이즈 */
    --sied-bar-height:90vh;
    /* %는 나에게 주어진 영역이 기준
      vh는 화면에 보여지는 부분이 기준 */
}

/* ==========노멀라이즈========== */

                                /* bullet을 없앰 */
body, ul, li{margin:0; padding:0; list-style: none;}
                /* 링크들의 밑줄 제거 */
a{color:inherit; text-decoration: none;}

/* sub-sub-menu 숨기기 */
.side-bar>ul ul {display:none;}
/* 스크롤 만들기 */
body{height:5000px; background: #444;}
        /* 항상 지정위치에 */
.side-bar{position:fixed; background: black; width:var(--side-bar-width);
    min-height:var(--sied-bar-height); margin-top:calc((100vh - var(--sied-bar-height))/2);}
                                            /* 전체 viewport의 높이에서 sidebar를 뺀 것의 반만큼 */
/* 모든 메뉴의 a에 속성값 */
                                            /* root(16px)의 1.4배 */
.side-bar ul>li>a{display:block; color:white; font-size:1.4rem; font-weight: bold; padding-top:20px; padding-bottom:20px; padding-left:50px;}

/* =====▲스크롤을 움직여도 고정되어있는 사이드 바 완성▲===== */

/* 우측으로 등장하는 서브메뉴 position */

.side-bar>ul>li{position: relative;}
/* hover시 main menu의 반응 */              /* 원래 코드상 선이 있으나 주석처리 함 */
.side-bar ul>li:hover>a{background: #555; /* border-bottom: 1px solid #999; */ }
/* sub menu 등장 */
.side-bar>ul>li:hover>ul{display:block; position:absolute; background:#888; top:0; left:100%; width:100%;} 
/* 추가: 개인적으로 서브 메뉴의 색이 달랐으면 했음 */
.side-bar>ul ul>li:hover>a{background:#777;}

/* =====▲마우스 hover시 서브메뉴가 드롭되면서 색이 바뀜▲===== */

/* 너비의 80%만큼 왼쪽으로 이동 */
                /* 코너를 둥글게;       변형 : 위치 이동(좌측으로 80%);                     움직임을 보여줄 시간        */
.side-bar{border-radius: 20px; transform:translate(calc(var(--side-bar-width)*-0.8), 0); transition:.5s;}
                            /* 깎인 너비 만큼 */
.side-bar:hover{transform: translate(-20px, 0);}

