*{margin:0; padding:0;}
body{display:flex;}

.first{background:red;}
.second{background:yellow ;}
.third{background: green;}
.forth{background: blue;}
.forth, .third{display:none;}

body div{height:100vh; padding: 20px;}
i{font-size:30px; cursor: pointer;}
img{margin:10px;}
h1{margin:10px; margin-left:0;}
